*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dis-black: #1a1a1a;
    --dis-gray: #ebebeb;
    --dis-orange:#ff6900;
    --dis-red:#ff0000;
    --dis-green:#008000;
}

body{
    font-family: "inter";
}

/* header */

header{
    background-color: var(--dis-orange);
    color: #ebebeb;
    font-size: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 4px;
    margin-bottom: 10px;
}

.container {
    max-width: 1080px;
    margin: auto;
    width: 65%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;

    &:hover {
        text-decoration: underline;
    }
}

a { 
    padding-right: 5px;
    text-decoration: none;
    color: #ebebeb;   
}

.icon {
    width: 100px;
    height: 0 auto;
}

.account{
    padding: 0 6px 0 0;
    text-decoration: none;
    font-size: 12px;

    i{
     color: var(--dis-gray);
    }
}


/*main*/

main{
    margin-top: 20px;
}

section {
    margin: 10px;
}

.top{
    margin-top: 50px
}

.top .d-flex,
.down .d-flex {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 10px;
}

figure{
    display: flex;
}

.models{
    position: relative;
    width: 33%;
    margin: 5px;
}

.modelb{
    display: none;
    position: absolute;

    img{
      width: 100%;
    }
}

.imga{
    width: 100%;
}

.imga:hover .modelb{
    display: block;
    width: 100%;
}

.late{
   margin: 0;
}

.inline{
    display: inline;
}

.heart {
    position: absolute;
    background-color: white;
    top: 5%;
    right: 0%;
    font-size: 1rem;
    z-index: 1;
    margin: 0;
    padding: 5px;

    &:hover{
        color: var(--dis-red);
    }
}

.red{
    color: var(--dis-red);
}

.under{
    text-decoration: line-through;
}

.sale{
    background-color: var(--dis-red);
    position: absolute;
    bottom: 25%;
    left: 0%;
    font-size: 6px;
    z-index: 1;
    padding: 5px;
}

.sh{
    background-color: var(--dis-green);
    position: absolute;
    bottom: 25%;
    left: 12%;
    font-size: 6px;
    z-index: 1;
    padding: 5px;
}

.st{
    left: 0%;
}

/*footer*/

footer{
    background-color: var(--dis-black);
    color: #ebebeb;
    font-size: 7px;
    padding-bottom: 5px;

    h3{
        margin-bottom: 1px;
    }

    h4{
        margin: 0px 0px 4px 0px;
    }

    a{
        margin: 2px;
    }
}

.fa{
    padding: 0 6px 0 0;
    color: var(--dis-gray);
    text-decoration: none;
    font-size: 12px;
}

.side{
    display: flex;

    li{
        padding-right: 10px;
    }
}

.social{
       display: flex;
       flex-direction: column;
}

/* image */


.img-left-top {
    width: 100%;
}

.img-center-top {
    width: 100%;
}

.img-right-top {
    width: 100%;
}